<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <link href="/resources/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="/resources/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="/resources/css/animate.min.css" rel="stylesheet">
    <link href="/resources/css/style.min.css?v=3.2.0" rel="stylesheet">
    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/angular-route.min.js"></script>
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeIn" ng-app="ticket" ng-controller="ticketController">

    <div class="input-append">
        <input style="width:358px; margin-left: 100px;" type="text" ng-model="name" required min="1"/>
    </div>
    <table class="table table-bordered table-striped" style="width:450px; margin-left: 100px;"
           ng-show="roles.length > 0">
        <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Action</th>
            <th style="text-align: center;">User Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in roles">
            <td style="width:70px;text-align:center;">
                <button class="btn btn-mini btn-danger" ng-click="del(role.id)">Remove</button>
            </td>
            <td>{{role}}</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
