<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>主页</title>
    <link href="/resources/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="/resources/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="/resources/css/animate.min.css" rel="stylesheet">
    <link href="/resources/css/style.min.css?v=3.2.0" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/plugins/chosen/chosen.min.css">
    <link rel="stylesheet" href="/resources/css/plugins/datepicker/bootstrap-datepicker3.min.css">
    <script src="/resources/js/angular.min.js"></script>
    <script src="/resources/js/angular-route.min.js"></script>
</head>
<body>
<div class="container" ng-app="ticket" ng-controller="ticketCtrl">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>车次</th>
                            <th>出发站/到达站</th>
                            <th>出发时间/到达时间</th>
                            <th>商务座</th>
                            <th>特等座</th>
                            <th>一等座</th>
                            <th>二等座</th>
                            <th>高级软卧</th>
                            <th>软卧</th>
                            <th>硬卧</th>
                            <th>软座</th>
                            <th>硬座</th>
                            <th>无座</th>
                            <th>其他</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ticket in tickets">
                            <td>
                                {{ ticket.queryLeftNewDTO.station_train_code}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 column">
                    <form role="form">
                        <div class="form-group">
                            <label for="from">出发站</label>
                            <select id="from" class="form-control" ng-model="from" ng-options="x.name for x in stations"></select>
                        </div>
                        <div class="form-group">
                            <label for="to">目的地</label>
                            <select id="to" class="form-control" ng-model="to" ng-options="x.name for x in stations"></select>
                        </div>
                        <div class="form-group">
                            <label for="start">出发时间</label>
                            <input id='start'  size="16" type="text" class="form-control">
                        </div>
                        <div class="form-group">

                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="search()">搜索</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/resources/js/jquery-2.1.1.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/plugins/chosen/chosen.jquery.min.js"></script>
<script src="/resources/js/plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script>
    var app = angular.module("ticket", ['ngRoute']);
    app.controller("ticketCtrl", function ($scope, $http) {
        $scope.fetchStationList = function () {
            $http.patch('/station').success(function (data) {
                $scope.stations = data.result;
            });
        };
        $scope.search = function () {
            var url = "https://kyfw.12306.cn/otn/leftTicket/queryT?leftTicketDTO.train_date=2016-10-01&leftTicketDTO.from_station=SZQ&leftTicketDTO.to_station=YYQ&purpose_codes=ADULT";
            $http.get(url).success(function () {

            });
        };
        $scope.fetchStationList();
    });

    $(function () {
        $("#start").datepicker({format: 'yyyy-mm-dd'});
        $("#start").datepicker('setDate', new Date());
    });
</script>
</body>
</html>
